##== Application
VITE_APP_NAME="Company Chat"
VITE_APP_ENV=development
VITE_APP_URL=http://localhost:3001
VITE_APP_API_URL=http://localhost:3000

##== Google Auth
VITE_GOOGLE_CLIENT_ID=
VITE_GOOGLE_CLIENT_SECRET=
